body {
  padding-top: 20px;
  /*background: url('../images/santas.gif');*/
  /*cute santas...(sigh)*/
}
.col-sm-12 {
	margin: 0;
	padding: 0;
}
header {
	padding: 3px 10px 12px;
	background: url("../images/bg.png") #BC0003 no-repeat bottom right;
	font-family: 'Rochester', cursive;
}
header h1 {
	font-size: 4.5em;
	line-height: 0.5em;
	color: #FFFFFF;
}
h1 small {
	font-size: 0.4em;
	line-height: 2.5em;
	color: #FFFFFF;
}
h1 small.ruby-korea {
	font-family: 'Montserrat', sans-serif;
}
.table {
	margin-bottom: 0;
}
.table-bordered>thead>tr>th {
	height: 30px;
	padding: 5px;
    border: 1px solid #910002;
	font-family: 'Rochester', cursive;
	font-size: 1.4em;
	background-color: #910002;
	color: #FFFFFF;
}
td {
	width: 134px;
}
td.empty {
	background: #910002;
	color: #910002;
}
td.active {
	height: 150px;
	padding: 0;
}
.active .date {
	background-color: #BC0003;
	color: #FFFFFF;
}
.active .date, .event {
	padding: 5px;
}